<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method='post'>
<input type="submit">
</form>
<% list.forEach(function(todo){ %>
	<p>
		<span><%=todo.content%></span>
	</p>
<% }) %>
</body>
</html>